@tailwind base;
@tailwind components;
@tailwind utilities;
.leaflet-container {
    width: 100wh; 
    height: 100vh;
}
.drop-nav-ul {
    display: none;
}
.drop-nav:hover .drop-nav-ul{
    display: block !important;
}
